.confTitleBox {
	display: none;
}

.confSubTitleBox {
	display: none;
}

.confheader {
	 background: #ff4e00 url(https://conf.linuxappsummit.org/event/4/images/1-LAS2022-WebBanner-text.png) no-repeat center center;
	 padding-top: 24%;
	 background-size: contain;
	 margin-bottom: 50px;
	 height: 0;
}
