---
layout: bare
title: "Linux App Summit 2025"
permalink: /
---

<img src="assets/LAS2025-_WebBanner-text.svg" style="margin: 0">

<hr/>
<div class="las-banner" style="background-color: #15161c">
    <h2>ABOUT</h2>
    <p>
        The Linux App Summit (LAS) brings the global Linux community together to learn, collaborate, and help grow the Linux application ecosystem. Through talks, panels, and Q&amp;A sessions, we encourage attendees to share ideas, make connections, and join our goal of building a common app ecosystem.
    </p>

    <button class="button" onclick="window.location.href='/whatis'">Read More</button>
</div>

<hr/>
<div class="las-banner" style="background-color: white; color: black;">
    <h2>JOIN US</h2>
    <p>This year’s Linux App Summit will be a hybrid eventin Spring 2025. The conference will be held in person in Tirana, Albania and attendees will also be able to join remotely. There is no cost to attend LAS, but registration is required. We will inform you before the event how you can watch and participate remotely.

<!--
There is no cost to attend LAS, but registration is required. To watch and participate remotely in the event you’ll need to log in to our conference platform using a password-protected link. You’ll receive this link after registering.</p>

   <button class="button" onclick="window.location.href='https://linuxappsummit.org/register'">Register</button>
-->
</div>

<hr/>

<div class="las-banner" style="background-color: white; color: black;">
    <h2>STAY TUNED</h2>
    <p>Follow LAS on <a href="https://twitter.com/LinuxAppSummit">X</a>, <a href="https://floss.social/@LAS">Mastodon</a> and <a href="https://www.linkedin.com/company/linux-application-summit">LinkedIn</a>. You can find videos from our previous editions in our <a href="https://www.youtube.com/channel/UCjSsbz2TDxIxBEarbDzNQ4w">YouTube channel</a>.</p>
</div>

<hr/>

<div class="las-banner" style="background-color: white; color: black;">
    <h2>SPONSORS</h2>

    <div class="sponsors">
        <img src="/assets/tuxedo.svg" alt="TUXEDO Computers"/>
        <img src="/assets/openSUSE.svg" alt="openSUSE"/>
    </div>

    <button class="button" onclick="window.location.href='/sponsors'">Sponsor LAS 2025</button>
</div>

<hr/>

<div class="las-banner" style="background-color: white; color: black;">
    <h2>2025 MEDIA PARTNERS</h2>
    <div class="sponsors">
        <img src="/assets/fosslife.png" alt="FOSS Life">
        <img src="/assets/linux-magazine.png" alt="Linux Magazine">
        <img src="/assets/open-source-job-hub.png" alt="Open Source Job Hub">
    </div>
    <button class="button" onclick="window.location.href='/sponsors'">Learn More</button>
